* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    font-family: "Geist", sans-serif;

}


.bg {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 0;


}

.homepage {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero {
  
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    z-index: 1;
    padding: 10px;
flex-shrink: 0;
}

.overlay {
    background-color: transparent;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 10;
    
    
}
@keyframes popup {
    from{
        transform: scale(0.5);
    }
    to{
         transform: scale(1);
    }
    
}

.user-msg {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 20px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    font-family: Verdana;
    height: 150px;
    width: 350px;
    background-color: #16476A;
    animation: popup 0.3s ease;
    transition: all 0.3 ;
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: #BF092F;
    font-weight: 550;
    width: 140px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: Verdana;

}

.input-box {
    position: relative;
    border: 2px solid white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-box input{
    height: 40px;
    width: 400px;
    outline: none;
    border: none;
    padding: 0px 50px 0px 10px;
    border-radius:15px;
}
.cancel-btn{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 39.5%;
    top: 35%;
    background: none;
    border: none;
    font-weight:900;
    font-size: large;
}
.srch-btn{
    height: 40px;
    width: 100px;
    outline: none;
    border: none;
    border-radius:15px;

}

.main-box {
    display: flex;
    background-color: red;
    height: 100vh;
    width: 100%;
    gap: 10px;
    margin-top: 10px;

}



#left {
    height: 100%;
    width: 20%;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
}

.pfp {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid red;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfp img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#right {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    width: 80%;
    background: transparent;
    backdrop-filter: blur(5px);
}

.b1 {
    border: 2px solid white;
    border-radius: 10px;
    height: 100px;
}

.b2 {
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    border: 2px solid white;
}

.d1 {
    color: white;
    height: 40px;
    width: 100%;
    padding: 0px 30px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.repo-main-box {
    box-sizing: border-box;
    overflow: scroll;
    padding: 0px 10px 0px 10px;
    background: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.repobox {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 10px 0px 10px;
    flex-shrink: 0;
    height: 115px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
}

.logo {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);

    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info1 {
    font-weight: 600;
    font-family: 'Segoe UI';
    display: flex;
    align-items: center;
    gap: 13px;
    /* background-color: red; */
    width: 80%;
    height: 100%;
}



.info2 {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;

    /* background-color: green; */
}

.stars-box {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 40px;



}

.sp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.lastupdated {
    /* background-color: blue; */
    height: 40px;
    width: 100%;
}

.lastupdated span {
    display: flex;
    align-items: center;
    justify-content: center;


}