*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: #132440;
}
.overlay{
    background-color: transparent;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.user-msg{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 20px;
    font-size:16px;
    color: white;
    font-weight: 600;
    font-family: Verdana;
    height: 150px;
    width: 350px;
    background-color: #16476A;
}
.close-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: #BF092F;
    font-weight: 550;
    width: 140px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: Verdana;

}

.input-box {
    border: 2px solid white;
    height: 60px;
}

.main-box {
    display: flex;

    /* border: 2px solid red; */
    height: 500px;
    gap: 10px;
    margin-top: 10px;
}



#left {
    height: 100%;
    width: 20%;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
}

.pfp {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid red;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pfp img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#right {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 100%;
    width: 80%;
}

.b1 {
    border: 2px solid white;
    height: 60px;
}

.b2 {
    height: 100%;
    border: 2px solid white;
}